rewriteEngine on
rewriteCond %{SCRIPT_FILENAME} !-f
rewriteCond %{SCRIPT_FILENAME} !-d
#Cadastro de rotas
rewriteRule ^rotas-acesso\/?$ ./index.php [NC]
# Auth
rewriteRule ^login\/?$ .\/index.php [NC]
rewriteRule ^executa-login\/?$ .\/index.php [NC]
rewriteRule ^executa-logout\/?$ .\/index.php [NC]
rewriteRule ^novo-usuario\/?$ .\/index.php [NC]
rewriteRule ^executa-cadastro-usuario\/?$ .\/index.php [NC]
rewriteRule ^executa-cadastro-google\/?$ .\/index.php [NC]

# Inicio
rewriteRule ^pagina-inicial\/?$ .\/index.php [NC]
rewriteRule ^\/?$ .\/index.php [NC]

#dashboard
rewriteRule ^dashboard\/?$ .\/index.php [NC]
rewriteRule ^executa-cadastro-rota\/?$ .\/index.php [NC]