rewriteEngine on
rewriteCond %{SCRIPT_FILENAME} !-f
rewriteCond %{SCRIPT_FILENAME} !-d
Options -Indexes
ErrorDocument 404 /404.php

rewriteRule ^sistema\/rotas/adicionar\/?$ ./index.php? [NC]
rewriteRule ^login\/?$ ./index.php? [NC]
rewriteRule ^login\/_login?$ ./index.php? [NC]
rewriteRule ^dashboard\/?$ ./index.php? [NC]
rewriteRule ^logout\/?$ ./index.php? [NC]
rewriteRule ^novo-usuario\/?$ ./index.php? [NC]
rewriteRule ^executa-cadastro-usuario\/?$ ./index.php? [NC]
rewriteRule ^login\/_google\/?$ ./index.php? [NC]
rewriteRule ^dashboard\/?$ ./index.php? [NC]
rewriteRule ^sistema\/rotas\/cadastrar\/?$ ./index.php? [NC]
rewriteRule ^sistema\/rotas\/_tabela_rotas\/?$ ./index.php? [NC]
rewriteRule ^entregas\/pendentes\/?$ ./index.php? [NC]
rewriteRule ^entregas\/(\d+)\/detalhes\/?$ ./index.php?id_entrega=$1 [NC]
rewriteRule ^entregas\/_informacoes_entrega\/?$ ./index.php? [NC]
rewriteRule ^sistema\/rotas\/lista\/?$ ./index.php? [NC]
rewriteRule ^anunciar\/?$ ./index.php? [NC]
rewriteRule ^sistema\/rotas\/(\d+)\/detalhes\/?$ ./index.php?id_rota=$1&=$2 [NC]
rewriteRule ^sistema\/rotas\/editar\/?$ ./index.php? [NC]
rewriteRule ^sistema\/rotas\/excluir\/?$ ./index.php? [NC]
rewriteRule ^buscar-cidades\/?$ ./index.php? [NC]
rewriteRule ^sistema\/rotas\/form\/adicionar\/?$ ./index.php? [NC]
rewriteRule ^sistema\/permissoes\/?$ ./index.php? [NC]
rewriteRule ^insert-permissao\/?$ ./index.php? [NC]
rewriteRule ^tabela-permissoes\/?$ ./index.php? [NC]
rewriteRule ^sistema\/permissoes\/(\d+)\/editar\/?$ ./index.php?id_permissao=$1 [NC]
rewriteRule ^sistema\/permissao\/editar\/?$ ./index.php? [NC]
rewriteRule ^login\/esqueci\/?$ ./index.php? [NC]
rewriteRule ^login\/recuperar-senha\/?$ ./index.php? [NC]
rewriteRule ^usuarios\/cadastro\/coordenador\/?$ ./index.php? [NC]
rewriteRule ^usuario\/form\/coordenador\/?$ ./index.php? [NC]
rewriteRule ^usuario\/insert_coordenador\/?$ ./index.php? [NC]
rewriteRule ^usuarios\/cadastro\/tecnico\/?$ ./index.php? [NC]
rewriteRule ^usuario\/form\/tecnico\/?$ ./index.php? [NC]
rewriteRule ^usuario\/insert_tecnico\/?$ ./index.php? [NC]
rewriteRule ^usuario\/perfil\/?$ ./index.php? [NC]
rewriteRule ^usuarios\/cadastro\/agricultor\/?$ ./index.php? [NC]
rewriteRule ^usuario\/form\/agricultor\/?$ ./index.php? [NC]
rewriteRule ^load\/select\/municipios\/?$ ./index.php? [NC]
rewriteRule ^usuario\/insert\/agricultor\/?$ ./index.php? [NC]
rewriteRule ^load\/input\/estado\/municipio\/?$ ./index.php? [NC]
rewriteRule ^inicio\/?$ ./index.php? [NC]
rewriteRule ^producao\/cadastro\/?$ ./index.php? [NC]
rewriteRule ^producao\/insert\/?$ ./index.php? [NC]
rewriteRule ^producao\/load\/form\/?$ ./index.php? [NC]
rewriteRule ^usuarios\/lista\/agricultores\/?$ ./index.php? [NC]
rewriteRule ^usuarios\/lista\/tecnicos\/?$ ./index.php? [NC]
rewriteRule ^agricultor\/(\d+)\/cadastrar\/producao\/?$ ./index.php?id_usuario_agricultor=$1 [NC]
rewriteRule ^notallowed\/?$ ./index.php? [NC]
rewriteRule ^usuario\/cadastro\/filiado\/?$ ./index.php? [NC]
rewriteRule ^usuario\/form\/filiado\/?$ ./index.php? [NC]
rewriteRule ^usuario\/insert\/filiado\/?$ ./index.php? [NC]
rewriteRule ^usuario\/lista\/filiados\/?$ ./index.php? [NC]
rewriteRule ^sistema\/sessao\/?$ ./index.php? [NC]
rewriteRule ^comprar\/?$ ./index.php? [NC]
rewriteRule ^nova\/?$ ./index.php? [NC]
rewriteRule ^\/?$ .\/index.php [NC]

rewriteRule ^compra\/nova\/?$ ./index.php [NC]
rewriteRule ^compra\/nova\/form\/?$ ./index.php [NC]
rewriteRule ^compra\/tabela\/?$ ./index.php [NC]
rewriteRule ^compra\/nova\/insert\/?$ ./index.php [NC]
rewriteRule ^listagem\/compras\/?$ ./index.php [NC]
rewriteRule ^venda\/?$ ./index.php [NC]
rewriteRule ^venda\/?$ ./index.php [NC]
rewriteRule ^venda\/nova\/form\/?$ ./index.php [NC]
rewriteRule ^venda\/?$ ./index.php [NC]
rewriteRule ^venda\/nova\/form\/?$ ./index.php [NC]
rewriteRule ^venda\/?$ ./index.php [NC]
rewriteRule ^venda\/tabela\/produtos\/?$ ./index.php [NC]
rewriteRule ^venda\/?$ ./index.php [NC]
rewriteRule ^venda\/?$ ./index.php [NC]
rewriteRule ^venda\/nova\/form\/?$ ./index.php [NC]
rewriteRule ^vendas\/listagem\/?$ ./index.php [NC]
rewriteRule ^venda\/listagem\/?$ ./index.php [NC]
rewriteRule ^venda\/nova\/insert\/?$ ./index.php [NC]
rewriteRule ^venda\/tabela\/produtos\/?$ ./index.php [NC]