.pointer {
    cursor: pointer;
}


    .m-page--fluid .m-page .m-page__container{
        padding: 0 40px;
    }


#entrega_mapbox {
    height: 750px;
}
#entrega_mapbox .produtor {
    margin: -10px -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid black;
    background: orange;
    pointer-events: none;
}

#entrega_mapbox .marker {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;

    background-color: #640aef;
    color: white;
    font-weight: bold;
    font-size: 16px;
    pointer-events: none;
    display: inline-block
}

.pulse {
    margin:100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 1);
    animation: pulse 1s infinite;
}
.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}